@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
background-color: black;
}

.card {
  background-color: black;
  color: white;
}

.signin-btn {
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  background-color: transparent; 
  color: white; 
  border: 10px solid transparent; 
  padding: 10px 20px;
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  font-weight: bolder;
  border-radius: 0;
}

.signin-btn:hover {
  border: 10px solid white; 
  background-color: transparent; 
  border-radius: 0;
}

.cardHover:hover {
  transform: translateY(-5px) scale(1.00); 
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.custom-dropdown .dropdown-menu {
  background-color: black;
  color: white;
}

.custom-dropdown .dropdown-item {
  color: white;
}


.custom-dropdown .dropdown-item:hover {
  background-color: #333;
  color: white;
}
